<%= link "Back to documents", to: document_path(@conn, :index) %>

<h2><%= @document.title %></h2>
<p>Current User: <span id="user"></span></p>
<p>Other users: <span id="user_list">Loading other users...</span></p>
<%= content_tag :div, id: "document",
    data: [id: @document.id, textarea_id: "#document_editor"] do %>
  <textarea name="document_editor" id="document_editor" rows="10" cols="80">
    <%= @document.content %>
  </textarea>
<% end %>
